<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<form method="post" style="border:1px solid; border-radius:5px; padding:10px;height:40%; width:65%;display:block;" action="/store/user/sendemail">
    <div>
        <h3>Forgot Password</h3>
        <label>Enter your email address and we will send you a link to reset your password</label>
        <input type="text" name="email" placeholder="Enter E-mail address"/>
    </div>
    <div>
        <input type="submit" class="btn btn-store" value="Submit"/>
    </div>
</form>
</body>
<div th:replace="footer :: copyright"></div>
</html>