<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>My Store</title>
</head>
<body class="container">
<div id="message">
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errorMessage}"/>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<nav th:replace="fragments :: navigation"></nav>

<form id="form1" method="post" style="max-width:500px;">

        <!--<label th:for="email">Email</label>-->
        <!--<input class="form-control" name="email" type="email" required/>-->
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-user loginIcon" aria-hidden="true"></i>
            </span>

            <input type="email" class="form-control" name="email" placeholder="Email" required/>
        </div>
    </div>
    <div class="form-group">
        <!--<label th:for="password">Password</label>-->
        <!--<input class="form-control" name="password" type="password" required/>-->

    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-lock loginIcon" aria-hidden="true" ></i>
        </span>
        <input type="password" class="form-control" name="password" placeholder="Password" required/>
    </div>
    </div>

    <div class="form-group">
        <input type="checkbox"/>
        <label th:for="remember-me">Remember Me</label>
        <button type="submit" class="btn btn-primary" style="float:right"><i class="glyphicon glyphicon-log-in"></i> Log In</button>
    </div>
    <div class="pwd">
        <a href="/store/forgotpwd">Forgot Password? |</a>
        <a href="/store/signup">Sign Up</a>
    </div>

</form>
</body>
</html>