<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>My Store</title>
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h3>Registration Form</h3>
<script type="text/javascript">
        $(document).ready(function() {
            console.log('ready');
            var cityList = []
            for(i in cities){
                cityList[i] = cities[i].city;
            }
            autocomplete(document.getElementById("ownerAddressState"), states);
            autocomplete(document.getElementById("ownerAddressCity"), cityList);
            autocomplete(document.getElementById("storeAddressState"), states);
            autocomplete(document.getElementById("storeAddressCity"), cityList);
        })
    </script>

<form method="post" th:object="${store}">
    <div class="form-group">
        <div class="leftControl">
            <label th:for="name">Store Name</label>
            <input class="form-control" th:field="*{name}" type="text" required/>
        </div>
        <div class="rightControl">
            <label th:for="storeLicense">Store License</label>
            <input class="form-control" th:field="*{storeLicense}" type="text" required/>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <h3>Store Address</h3>
        <div class="leftControl">
            <label th:for="storeAddress">Addr Line1</label>
            <input class="form-control" th:field="*{storeAddress.addressLine1}" placeholder="Addr Line1" required/>
        </div>
        <div class="rightControl">
            <label th:for="storeAddress">Addr Line2</label>
            <input class="form-control" th:field="*{storeAddress.addressLine2}" placeholder="Addr Line2" required/>
        </div>
        <div class="leftControl">
            <label th:for="storeAddress">City</label>
            <!--<input class="form-control" th:field="*{storeAddress.city}" placeholder="City" required/>-->
            <div class="autocomplete" style="width: 100%;">
                <input id="storeAddressCity" type="text" class="form-control" th:field="*{storeAddress.city}" placeholder="City">
            </div>
        </div>
        <div class="rightControl">
            <label th:for="storeAddress">State</label>
            <div class="autocomplete" style="width: 100%;">
                <input id="storeAddressState" type="text" class="form-control" th:field="*{storeAddress.state}" placeholder="State">
            </div>
            <!--<select class="form-control" th:field="*{storeAddress.state}">-->
                <!--<option default value=" ">Select State</option>-->
                <!--<option th:each="state : ${states}"-->
                        <!--th:text="${state.name}"-->
                        <!--th:value="${state.abbreviation}"></option>-->
            <!--</select>-->
            <!--<input class="form-control" th:field="*{storeAddress.state}" placeholder="State" required/>-->
        </div>

        <div class="leftControl">
            <label th:for="storeAddress">Zip Code</label>
            <input class="form-control" th:field="*{storeAddress.zipcode}" required/>
        </div>
        <div class="rightControl">
            <label th:for="storeAddress">Country</label>
            <input class="form-control" th:field="*{storeAddress.country}"  disabled="disabled" />
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <h3>Owner Info</h3>
        <div class="leftControl">
            <label th:for="ownerAccountInfo">First Name</label>
            <input class="form-control" th:field="*{ownerAccountInfo.firstName}" type="text" required/>
        </div>
        <!--<div class="middleCon">-->
            <!--<label th:for="ownerAccountInfo">Middle Name</label>-->
            <!--<input class="form-control" th:field="*{ownerAccountInfo.middleName}" type="text" required/>-->
        <!--</div>-->
        <div class="rightControl">
            <label th:for="ownerAccountInfo">Last Name</label>
            <input class="form-control" th:field="*{ownerAccountInfo.lastName}" type="text" required/>
        </div>
        <div class="leftControl">
            <label th:for="ownerAccountInfo">Date Of Birth</label>
            <input class="form-control" th:field="*{ownerAccountInfo.dateOfBirth}" type="date" required/>
        </div>
        <div class="rightControl">
            <label th:for="ownerAccountInfo">Phone Number</label>
            <input class="form-control" th:field="*{ownerAccountInfo.phoneNumber}" type="text" required/>
        </div>
        <div class="leftControl">
            <label th:for="ownerAccountInfo">Driving Lisnce</label>
            <input class="form-control" th:field="*{ownerAccountInfo.drivingLisence}" type="text" required/>
        </div>
        <div class="rightControl">
            <label th:for="ownerAccountInfo">Gender</label>
            <input class="form-control" th:field="*{ownerAccountInfo.gender}" type="text" required/>
        </div>
        <div class="leftControl">
            <label th:for="ownerAccountInfo">Email</label>
            <input class="form-control" th:field="*{ownerAccountInfo.email}" type="email" required/>
        </div>
        <div class="rightControl">
            <label th:for="ownerAccountInfo">Confirm Email</label>
            <input class="form-control" name="confirmEmail" type="email" required/>
        </div>
        <div class="leftControl">
            <label th:for="ownerAccountInfo">Password</label>
            <input class="form-control" th:field="*{ownerAccountInfo.password}" type="password" required/>
        </div>
        <div class="rightControl">
            <label th:for="ownerAccountInfo">Confirm Password</label>
            <input class="form-control" name="confirmPassword" type="password" required/>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <h3>Owner Address</h3>
        <div class="leftControl">
            <label th:for="storeAddress">Addr Line1</label>
            <input class="form-control" th:field="*{ownerAccountInfo.ownerAddress.addressLine1}"  placeholder="Addr Line1"required/>
            <!--the th:field names should match the class field name,in storeInfo class ownerAccountInfo field is thr,
            in the ownerAccountInfo class for the address of the owner is named as ownerAddress in the filed-->
        </div>
        <div class="rightControl">
            <label th:for="storeAddress">Addr Line2</label>
            <input class="form-control" th:field="*{ownerAccountInfo.ownerAddress.addressLine2}"  placeholder="Addr Line2"required/>
        </div>
        <div class="leftControl">
            <label th:for="storeAddress">City</label>
            <!--<input class="form-control" th:field="*{ownerAccountInfo.ownerAddress.city}"  placeholder="City"required/>-->
            <div class="autocomplete" style="width: 100%;">
                <input id="ownerAddressCity" type="text" class="form-control"  th:field="*{ownerAccountInfo.ownerAddress.city}" placeholder="City">
            </div>
        </div>
        <div class="rightControl">
            <label th:for="storeAddress">State</label>
            <div class="autocomplete" style="width: 100%;">
                <input id="ownerAddressState" type="text" class="form-control" th:field="*{ownerAccountInfo.ownerAddress.state}" placeholder="State">
            </div>
            <!--<select class="form-control" th:field="*{ownerAccountInfo.ownerAddress.state}">-->
                <!--<option default value=" ">Select State</option>-->
                <!--<option th:each="state : ${states}"-->
                        <!--th:text="${state.name}"-->
                        <!--th:value="${state.abbreviation}"></option>-->
            <!--</select>-->
            <!--<input class="form-control" th:field="*{ownerAccountInfo.ownerAddress.state}"  placeholder="State"required/>-->
        </div>

        <div class="leftControl">
            <label th:for="storeAddress">Zip Code</label>
            <input class="form-control" th:field="*{ownerAccountInfo.ownerAddress.zipcode}" required/>
        </div>
        <div class="rightControl">
            <label th:for="storeAddress">Country</label>
            <input class="form-control" th:field="*{ownerAccountInfo.ownerAddress.country}" disabled="disabled"/>
        </div>
    </div>
    <input type="submit" class="signup btn-store" value="Sign Up"/>
</form>
</body>
<div th:replace="footer :: copyright"></div>
</html>