<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<script>
 $(document).ready(function(){
    $('#exampleModalCenter').on('show.bs.modal', function (event) {
      var modal = $(this)
      $.get( "/store/loadImages")
      .done(function( images ) {
         let imageTags = images.map((image) => {
            return "<label><input type='radio' name='selectedImage' value='"+image.id+"'/><img style='margin:3px;height:100px;width:100px' src='/store/item/imageDisplay?id=" + image.id +"'/></label>";
         });
         modal.find('.modal-body')[0].innerHTML = imageTags
      }).fail(function(e) {
        console.error("error",e);
         modal.find('.modal-body')[0].innerHTML = "<span class='error'>Error while getting the images</span>"
      });
    })
    $("#selectImage").on('click', function (event) {
         let selectedImageId = $('input:radio[name="selectedImage"]:checked').val();
         console.log(selectedImageId)
         $('#imageId').val(selectedImageId)
         $('#exampleModalCenter').modal('hide');
         $('#itemImage').attr("src","/store/item/imageDisplay?id="+selectedImageId);
    })
});

</script>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h3>Edit Item</h3>
<form method="post" action="/store/item/edit"  th:object="${item}">
    <div style="width:50%;float:left">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}"/>
            <!--<span th:errors="*{name}" class="error"></span>-->
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <textarea class="form-control"  th:field="*{description}"/>
            <!--<span th:errors="*{description}" class="error"></span>-->
        </div>
        <div class="form-group">
            <div class="leftControl">
                <label th:for="type">Category</label>
                <select th:field="*{category.id}" style="height:35px; width:190px;">
                    <option value="0">None</option>
                    <option th:each="category : ${categories}"
                            th:text="${category.name}"
                            th:value="${category.id}"></option>
                </select>
                <a href="/store/category/add" class="btn btn-primary" style="float:right">Add</a>
            </div>
            <div class="rightControl">
                <label th:for="type" style="width:200px">Brand</label>
                <select th:field="*{brand.id}" style="height:35px; width:190px;">
                    <option  value="0">None</option>
                    <option th:each="brand : ${brands}"
                            th:text="${brand.name}"
                            th:value="${brand.id}"></option>
                </select>
                <a href="/store/brand/add" class="btn btn-primary" style="float:right">Add</a>
            </div>
        </div>
        <div class="form-group">
            <div class="leftControl">
                <label th:for="name">Quantity</label>
                <input class="form-control"  th:field="*{quantity}"/>
            </div>
            <div class="rightControl">
                <label th:for="name">Price</label>
                <div class="input-group mb-3" style="display:block">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="padding: 0px 7px;font-size: 18px;">$</span>
                        <input class="form-control" th:field="*{price}" aria-label="Amount (to the nearest dollar)" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="leftControl">
                <label th:for="name">Aisle</label>
                <input class="form-control" th:field="*{aisle}" required/>
            </div>
            <div class="rightControl">
                <label th:for="name">Expiration Date</label>
                <input class="form-control" th:field="*{expirationDate}" required/>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save Item" />
        <a href="/store/list" style="margin-left:20px">Cancel</a>
    </div>
    <div style="width:40%; float:right">
        <div>
            <img id="itemImage" th:src="@{'/store/item/imageDisplay?id=' + ${item.image.id}}" style="width:100%;height:100%;"/>
            <input type="hidden" name="imageId" id="imageId"/>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="@mdo" style="margin-top:20px">Select Image</button>
    </div>
</form>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="selectImage" class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>