<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<head th:replace="storefragments :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <title>My Store</title>
    <script type="text/javascript" language="JavaScript">
        jQuery.noConflict();
         // Use jQuery via jQuery() instead of via $()
         jQuery(document).ready(function(){
           <!--jQuery("#publish").bootstrapToggle({-->
              <!--on: 'Published',-->
              <!--off: 'Un-Published'-->
            <!--});-->
            jQuery("#publish").onChange(function(){
                alert('publishing')
            });
         });
         function publish(event, itemId){
            alert('publishing')
            window.location.href='/store/item.publish/'+itemId;
         }

</script>
</head>
<body class="container">
<nav th:replace="storefragments :: navigation"></nav>
<!--<form id="searchForm" action="/store/search" method="get">-->
<form id="searchForm" action="/store/search" method="post">
    <div class="input-group" style="max-width:40%;margin:10px;">
        <!--<input type="text"  class="form-control" th:value="${keyword}"  id="mySearch" onkeyup="javascript:search(this)" placeholder="Search by name, category and brand" style="padding:5px"/>-->
        <input type="text"  class="form-control" name="keyword" placeholder="Search by name, category and brand" style="padding:5px"/>
        <span class="input-group-addon" style="padding:0px;"><button type="submit"  style="height: 32px;border: none;"><i class="glyphicon glyphicon-search"></i></button></span>
    </div>
</form>
<div th:each="keyword : ${keywords}" class="chip">
    <span th:text="${keyword}" /><a class="closebtn" th:href="@{'/store/search/clear/' + ${keyword}}" onclick="this.parentElement.style.display='none'">&times;</a>
</div>

<div style="display:flex;flex-wrap: wrap">
    <div th:each="item : ${items}" style="margin:10px">
        <div class="card">
            <a th:href="@{'/store/item/edit/'+${item.id}}" class="card-img-top">
                <img src="/images/ToorDal.jpg" th:alt="${item.name}" style="width:170px">
            </a>
            <div class="card-body">
                <h4 class="card-title" th:text="${item.name}"></h4>
                <table>
                    <tr>
                        <td>Price:$<span th:text="${item.price}"></span> <span style="margin-left:20px"> Qty:</span><span th:text="${item.quantity}"></span></td>
                    </tr>
                    <tr>
                        <td th:if="${item.brand}">Brand: <span th:text="${item.brand.name}"></span></td>
                    </tr>
                    <tr>
                        <td th:if="${item.category}">Category: <span th:text="${item.category.name}"></span></td>
                    </tr>
                </table>
                <div>
                    <span>Published : </span>
                    <input type="checkbox" id="publish" th:checked="${item.published}" th:onchange="'window.location.href=\'' + @{/store/item/publish/{id}(id=${item.id})} + '\''" data-toggle="toggle" data-size="mini">
                    <!--<input type="checkbox" id="publish" th:checked="${item.published}" th:onchange="@{'javascript:publish('+${item.id}+')'}" data-toggle="toggle" data-size="mini">-->
                    <a style="margin-left:35px;" class="closeBtn" th:href="@{'/store/item/delete/' + ${item.id}}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>