<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<!--<head th:replace="storefragments :: head">-->
<head th:replace="fragments :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <title>My Store</title>

</head>
<script type="text/javascript" language="JavaScript">

     $(document).ready(function(){
        search()
        $("#keyword").on('keyup', function (e) {
            if (e.keyCode == 13) {
                search()
            }
        });
     });
     function publish(itemId){
        $.get( "/store/item/publish/"+itemId)
          .done(function( id ) {
            $(''+itemId).checked=true;
          }).fail(function(e) {
            console.error("error",e);
            $(''+itemId).checked=false;
          });
     }
     function search(){
        const keyword = $('#keyword').val();
        $('#keyword').val('');
        console.log(keyword);
        let url = '/store/search'
        if(keyword){
            url = url +'/'+ keyword
        }
       $('#itemsBlock').load(url);
      }
     function clearSearch(searchWord){
        $('#' + searchWord).parent().css("display",'none');
        let url = '/store/search/clear'
        if(searchWord){
            url = url +'/' + searchWord;
        }
       $('#itemsBlock').load(url);
     }
     function deleteItem(itemId){
        const name = $('#'+itemId).text();
        const canDelete = confirm("Are you sure, do you want delete "+name);
        if(canDelete){
            let url = '/store/item/delete'
            if(itemId){
                url = url +'/' + itemId;
            }
           $('#itemsBlock').load(url);
        }
     }
</script>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<!--<form id="searchForm" action="/store/search" method="get">-->
<!--<form id="searchForm" action="/store/search" method="post">-->


<div class="input-group" style="max-width:40%;margin-top:10px;margin-bottom:10px">
        <input type="text"  class="form-control" id="keyword" placeholder="Search by name, category and brand" style="border-color: #523482;padding:5px"/>
        <span class="input-group-addon" style="padding:0px;">
            <button class="btn btn-store" th:onclick=@{'javascript:search()'} style="height: 38px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;cursor:pointer" >
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
<!--</form>-->


<div id="itemsBlock">

</div>

</body>
</html>