body {
    font-family: sans-serif;
    color: mediumseagreen !important;
    background-image: url("../images/background.jpg");
}

.error{
    color:red
}
.pwd{
    margin-top:20px;
    color: lightgray;
}
.signup{
    margin-left: 43%;
    background-color:mediumseagreen;
    margin-bottom: 2rem;
}
.leftControl {
    width: 45%;
    float: left;
    margin-bottom: 1rem;
}
hr {
    color: #c8c8c8;
}
.rightControl {
    width: 45%;
    float: right;
    margin-bottom: 1rem;
}
.form-group {
    margin-bottom: 1rem;
    display:flow-root;
}
.leftCon {
    width: 25%;
    float: left;
    margin-bottom: 1rem;
}
.middleCon {
   margin-left:35%:
    margin-bottom: 1rem;
}
.rightCon {
    width: 25%;
    float: right;
    margin-bottom: 1rem;
}
/*.navbar1 {
    background-color: #f1f1f1;
      padding: 40px;
      text-align: left;
}*/
.navbar1 {
    margin-top:2%;
    width: 80%;
    background-color: #c8c8c8;
    box-sizing: border-box;
    padding: 10px;
    color: #af4800;

}
.controllers{
    margin-top:2%;
    float:right;
    width:20%;
    padding-left:10px;

}
.storeDetails{
    float:left;
    width:45%;
}
.ownerDetails{
    float:right;
     width:45%;
}
.loginIcon{
    font-size: 28px !important;
    color: gray;
    background-color: lightgray;
    padding: 5px;
 }
#message {
    position: fixed;
    top: 0;
    right: 0;
}
/*table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}


*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 310px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
  padding: 2px 16px;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closeBtn:hover {
  color: #000;
}