<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h3>Category</h3>
<form method="post" th:object="${category}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <input type="submit" class="btn btn-store" value="Add"/>

    <a href="/store/list" class="store-color" style="margin-left:20px;">Cancel</a>
    <p th:unless="${categories} and ${categories.size()}">No Category Added</p>
</form>
<form method="post" action="/store/category/delete">

    <div style="margin-top:15px;" >

        <div th:each="category : ${categories}" class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" th:id="${category.id}" name="catIds" th:value="${category.id}">
            <label class="custom-control-label" th:for="${category.id}" th:text="${category.name}"></label>
        </div>
    </div>

    <input type="submit" class="btn btn-store" value="Delete">
</form>


</body>
<div th:replace="footer :: copyright"></div>
</html>