<!DOCTYPE html>
<html lang="en" xmlns:th="http://>www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h3>Category</h3>
<form method="post" th:object="${category}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <input type="submit" class="btn btn-store" value="Add"/>
    <a href="/store/list" class="store-color" style="margin-left:20px;">Cancel</a>
</form>
<div style="margin-top:15px;">
    <p th:unless="${categories} and ${categories.size()}">No Category Added</p>
    <ul >
        <li th:each="category : ${categories}">
            <label th:text="${category.name}"></label>
        </li>
    </ul>
</div>

</body>
<div th:replace="footer :: copyright"></div>
</html>